body{
background: -webkit-linear-gradient(left, #1eca4a, #23b8e5);
background: -moz-linear-gradient(left, #1eca4a, #23b8e5);
background: -ms-linear-gradient(left, #1eca4a, #23b8e5);
background: -o-linear-gradient(left, #1eca4a, #23b8e5);
background: linear-gradient(to right, #1eca4a, #23b8e5);
}

div:not(#icone-barra){
    display:flex;
    border-radius: 15px;
    flex-direction: row;
    background-color: blue;
    text-align: center;
}

#icone-barra{
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    width: 60px;
}

li{
    padding-inline: 15px;
    display: inline-block;
    flex-direction: row;
}

a:not(#Final){
    align-self: center;
    color: white;
    font-family: Titulos;
    font-size: 16px;
    font-weight: 15px;
}
a:hover:not(#Final){
    transition: 0.5s;


    padding-inline: 15px;
    background-color: brown;
    height: 50px;
    border-radius: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

header{
    color:white;
    margin-top: 25px;
    font-family: Titulos;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
}

.fade-in{
    animation: fade-in 1s ease-out;
}

p:not(#Final){
    background-color: burlywood;
    border-radius: 20px;
    font-family: Paragrafos;
    text-align: center;
    font-size: 22px;
}

#Final{
    color: white;
    font-size: 18px;
    font-family: Creditos;
    text-decoration: none;
    text-align: center;
}
